VideoClubApiRest.Infraestructure/Validators/RentsXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Rents">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:byte" name="RentId"/>
				<xs:element type="guid" name="ObjectId"/>
				<xs:element type="guid" name="ClientId" />
				<xs:element type="status" name="Detailssatus"/>
				<xs:element type="date" name="Detailsuntil"/>
				
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:simpleType name="status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RENT"/>
			<xs:enumeration value="RETURN"/>
			<xs:enumeration value="DELIVERY_TO_RENT"/>
			<xs:enumeration value="DELIVERY_TO_RETURN"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="guid">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="(urn:uuid:)?[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}|\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="date">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}[/][0-1][0-9][/][0-3][0-9]"/>
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>